html, body, #root {
    height: 100%;
  }


#root {
    display: flex;
    flex-direction: column;
}

footer { 
    margin-top: auto;
}


.cardProducto {
    width: 16rem;
    margin: 2rem;
    padding: 0;
}

.cardBody {
    text-align: center;
    color: white;
}   

img {
    width: 100%;
}

.nav-item {
    margin: 10px;
}


.itemDetail {
    max-width: 540px;
    margin: 4rem auto;
    padding: 0;
    text-align: center;
    color: white;
}


.cart {
    margin: 2rem auto;
    padding: 0;
    text-align: center;


}

.cartDetail {
    padding: 1rem;
    border: 2px solid;
    background-color: black;
    color: white;
}

.card-title{
    color: #ffc354;
    font-weight: bold;
}


.darkMode {
    background-color:black;
    color:white;
}

.errorMsg{
    color: red;
}

.btnCart{
    min-width: 12rem;
}

.btnFinish{
    margin: 1rem 8rem;
}

.form{
    min-width: 25rem;
    margin: 2rem auto;
}